.img-logo{
    width: 150px;
    padding: 20px;
    margin: 20px;
}
.footer-text{
    cursor: wait;
}
.footer-text:hover{
    color: tomato;
}
.footer-h2{
    color: tomato;
}
.footer-text-all h4, p{
    text-align: left;
}
.image-style{
    margin-bottom: 10px;
}